body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.kernel {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
/* Première ligne */
.inputs {
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

#timeline-list {
    list-style-type: none;
    padding: 0;
}

#timeline-list li {
    margin-bottom: 10px;
}

#timeline-list a {
    text-decoration: none;
    color: #333;
}

#timeline-list a:hover {
    color: #007bff;
}

/* Deuxième ligne */
.output {
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
}

#step1, #step2, #step3, #step4, #step5, #step6, #step7, #step8, #step9, #step10, #step11 {
    margin-bottom: 30px;
}

/* Troisième ligne */
.algorithms {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
