<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bannière ML</title>
    <link rel="stylesheet" href="styles/bannier.css">
</head>
<body>
    <div class="banner-container">
        <div id="i-o_bloc">
            <div class="input-block">
                <span>Input</span>
                <div id="tensorDisplay"><!-- Votre tensor.svg sera ici --></div>
            </div>
            <div class="output-block">
                <span>Output</span>
                <div id="cloudDisplay"><!-- Affichage du cloud de mots ici --></div>
            </div>
    </div>
            <div class="algo-block">
                <div class="loader"></div>
                <button id="generateCloud">Générer Cloud</button>
                <button id="startSession">Commencer Session</button>
                <button id="generatePhrase">Générer Phrase</button>
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
