/* ARTICLE slider */
.slide {
    width: 987px;
    height: 440px;
    border-radius: 25px;
    background-color: #ddd;;

}
.slide-and-ls {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;

}
.slide-content {
    width: 90%;
    height: 377px;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: #333;
    border-radius: 20px;
    margin: 3px;

}
.slide-ls{
    background-color: #dd5;

}