<table id="slide">
    <tr>
        <td class="topLeft">╔</td>
        <td class="topHorizontal">═</td>
        <td class="topRight">╗</td>
    </tr>
    <tr>
        <td class="verticalLeft">║</td>
        <td class="central-cell">
            <div class="main-container">

                <div class="headline">
                    <section class="info">
                        <div class="ico-oc">
                            <img src="assets/img/ico-oc.png" alt="[+]"">
                        </div>
                    </section>
                </div>
            <article class="skill-lab">
                <div class="lab">
                    <span><h3>------------------ °__[Skill lab]°__ -----------------</h3></span>
                    <section class="skill-content">
                        <div id="input">
                                <span class="inline">[input].frontend</span>
                                <div class="ls-element">
                                    <span class"ls-menu>SETUP MENU</span>
                                    <ul>
                                        <li>
                                    <div class="layout">
                                        <div class="balisage">bloc</div>
                                        <span class="balisage">inline</span>
                                    </div>
                                    <div class="font">whidth</div>
                                    </ul>
                                </div>
                        </div>
                        <div id="output">
                            <table style="width: 60%";>
                                <tr style="background-color: aquamarine;">
                                    <td>Init</td>
                                    <td>Coln1</td>
                                    <td>Coln2</td>
                                </tr>
                                <tr>
                                    <td style="background-color: aquamarine";>Row1</td>
                                    <td style="height: 200px; background-color: white; width: 20%";>Input</td>
                                    <td style="background-color: white; width: 80%";>Output</td>
                                </tr>
                                <tr>
                                    <td style="background-color: aquamarine;">Row2</td>
                                    <td colspan="2" style="background-color: red;">
                                        <span>Algo-Lab</span>
                                            <div class="algo-lab">
                                                <span>LINK</span>
                                                <span>Kernel</span>
                                                <span>[content-section]</span>
                                        </div>
                                        </td>
                                </tr>
                            </table>
                            
                        </div>
                    </section>
                    <mark>
                        <uo>xml[+]</uo>
                        <down>xml[_]</down>
                    </mark>    
                    <section class="event">
                        <nav class="ls">
                            <ul class="ls-menu"></ul>
                                <a>[.-.]<</a>
                                <a href="#step0">[0]</a></li>
                                <a href="#step1">[1]</a></li>
                                <a href="#step2">[2]</a></li>
                                <a href="#step3">[3]</a></li>
                                <a href="#step4">[4]</a></li>
                                <a href="#step5">[5]</a></li>
                                <a href="#step6">[6]</a></li>
                                <a href="#step7">[7]</a></li>
                                <a href="#step8">[8]</a></li>
                                <a href="#step9">[9]</a></li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </article>
        </td>
        <td class="verticalRight">║</td>
    </tr>
    <tr>
        <td class="bottomLeft">╚</td>
        <td class="bottomHorizontal">═</td>
        <td class="bottomRight">╝</td>
    </tr>
</table>
