.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containair-table {
    width: 987px; 
    height: 610px; 
    border-collapse: collapse;
}

.cell {
    width: 33.3%;
    height: 33.3%;
    border: 1px solid #ddd;

    .central-cell {
    width: 33.3%;
    height: 33.3%;
    border: 1px solid #ddd;
}
}
