@charset "UTF-8";
pre {
  width: 70%;
  background: #88b7de;
  padding: 12px;
  border: 1px solid;
  border-radius: 10px;
}

code {
  color: rgb(4, 4, 4);
}

/* ========== */
/* STEP INTRO */
/* ---------- */
.art-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid;
}

.P5-intro {
  width: 80%;
}

.P5-intro h3 {
  text-align: center;
}

.P5-img-content img {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.arrow_content-P5 {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-arow {
  width: 40px;
  height: 40px;
}

.btn-arow img {
  width: 32px;
  height: 32px;
}

.mail-directeur {
  text-align: center;
}

.step2_objectif {
  width: 80%;
}

.github-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-github {
  display: flex;
  width: 255px;
  height: 50px;
  align-items: center;
  gap: 25px;
  background-color: white;
  box-shadow: #24212c;
}
.btn-github:hover {
  width: 265px;
  height: 60px;
}

.btn-github img {
  width: 32px;
  height: 32px;
}

.video-contenair {
  display: flex;
  justify-content: center;
}

.ls-step-contenair {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.step-contenair {
  display: flex;
  height: 120px;
  width: 10%;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  text-align: center;
  color: #fff;
}

#P5-step1 {
  background-color: #2c2b2f;
}

#P5-step2 {
  background-color: #242229;
}

#P5-step3 {
  background-color: #24212c;
}

#P5-step4 {
  background-color: #201d29;
}

#P5-step5 {
  background-color: #201d29;
}

/* ========== */
/*   STEP 1   */
/* ---------- */
.step1_updateHTML {
  width: 80%;
}

.img-carrousel {
  width: 100%;
}
.img-carrousel:hover {
  position: relative;
  left: -400px;
  width: 200%;
}

/* ========== */
/*   STEP 2   */
/* ---------- */
.step2_eventListeners {
  width: 80%;
}

.eventListeners {
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 8 0%;
}

.carrousel-img {
  display: flex;
  justify-content: center;
}

/* ========== */
/*   STEP 3   */
/* ---------- */
.step3_bulletPoints {
  width: 80%;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 470px;
  position: relative;
}

.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*z-index: -1;*/
  object-fit: cover;
  object-position: center;
}

/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
  position: absolute;
}

.arrow_content {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

#banner .arrow_left {
  position: absolute;
  left: 10px;
}

#banner .arrow_right {
  position: absolute;
  right: 10px;
}

/* Gestion des points du carrousel */
.dotsContainer {
  display: flex;
  justify-content: center;
}

.dots {
  position: absolute;
  bottom: 40px;
  display: flex;
}

.dot {
  margin-inline: 5px;
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dot_selected {
  background-color: #fff;
}

/*# sourceMappingURL=style-P5.css.map */
