body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.kernel {
    display: flex;
    border-radius: 20px;
    margin: 33px;
    padding: 20px;
    flex-direction: column;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.row {
    display: flex;
    flex-direction: row;
}
.input {
    width: 20%;
}
.output {
    margin:20px;
    width: 80%;
}
.inputs, .output, .algorithms {
    flex: 1;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
