@charset "UTF-8";
/* *************************** */
/*      _______________        */
/* ____/  Init lyaout  \_______*/
html, body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --header-color:rgb(5, 3, 6);
  --html-color: #3b1616;
  --css-color: #5c4719;
  --js-color: #063120;
  --php-color: #11233e;
  --sql-color: #2c052d;
  --body-background: rgb(0, 0, 0);
  --cours-coutent-color: white;
  --black09-color: rgb(10, 10, 10);
  --black10-color: rgb(0, 0, 0);
}

/* **************************** */
/*      .__________.___.        */
/* +___/  Composent \(/)\_______+*/
/* env-pre_code */
.env-pc {
  display: flex;
  min-width: 610px;
  min-height: 233px;
  background-color: #080808;
  color: var(--html-color);
}

.edit-code {
  display: flex;
  background-color: #293c33;
}

.editor {
  display: flex;
  background-color: #080808; /* root --pre #color:; */
  width: 144px;
  height: 55px;
}

.pc-editor {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: darkgray;
}

/* table pc-editor { */
.html-editor table {
  border: #080808;
}

.code-editor {
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  background-color: #c4c4c4;
}

.editor-html-css {
  display: flex;
}

.pre-tab-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.p-code {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.html-et-css {
  display: flex;
}

.ln-btn {
  display: flex;
  height: 50px;
}

.code-tab-content {
  display: flex;
  flex-direction: column;
}

.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  background-color: black;
  margin: 30px;
  height: 35vh;
  width: 80%;
}

.html-code {
  background-color: cornflowerblue;
  padding: 5px;
  width: 50%;
}

.css-code {
  background-color: crimson;
  width: 50%;
}

.step2_config {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

/* **************************** */
/*      .__________.___.        */
/* +___/  Inc HOME \(/)\_______+*/
.home {
  display: flex;
  flex-direction: column;
}

.row-home {
  display: flex;
  flex-direction: row;
  min-height: 100px;
}

.todols {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.btn-html_card {
  display: flex;
  width: 300px;
  height: 70px;
}

.btn-css_card {
  display: flex;
  width: 300px;
  height: 70px;
}

.btn-js_card {
  display: flex;
  width: 300px;
  height: 70px;
}

.content-sections {
  display: flex;
  background-color: white;
  height: 100%;
}

.class-metsoutenancesier {
  display: flex;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.loading-content {
  width: 300px;
  height: 40px;
}

/* ************************************* */
/*      .__________.___.                 */
/* +___/  COURS     \(/)\_______________+*/
.home_howto {
  display: flex;
  flex-direction: row;
  width: 98%;
  min-height: 98%;
  margin: 5px;
}

.cours-content {
  display: contents;
  background-color: var(--cours-coutent-color);
}

.left-content {
  display: flex;
  min-width: 25%;
  min-height: 100%;
  background-color: #797979;
}

.right-content {
  display: flex;
  justify-content: center;
  min-width: 75%;
  min-height: 100%;
  background-color: white;
}

.course-end {
  padding: 20px;
}

.dashboard {
  width: 80%;
}

.menu-dev {
  display: flex;
}

.dev-content {
  display: flex;
}

.db_cours-frontend {
  width: 80%;
}

.html-content {
  display: contents;
}

.db_cours-backend {
  width: 80%;
}

/* COURS JAVASCRIPT */
.Variable-js {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cours-js-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.left-js-content {
  display: flex;
  width: 30%;
}

.right-js-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* ***********************************  */
/*      .__________________.___.        */
/* +___/  P. Projets        \(/)\_______+*/
.projets-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1%;
  gap: 10px;
}

.projet-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100px;
  background-color: rgb(245, 241, 241);
  border-radius: 20px;
  padding: 5px;
}

/* ***********************************  */
/*      .__________________.___.        */
/* +___/  P4. Ohmyfood     \(/)\_______+*/
/* OHMYFOOD INTEGRATION */
/* ICON 
    .fa-solid fa-arrow-left
    .fa-solid fa-location-dot
    .fa-solid fa-mobile-screen
    .fa-solid fa-list
    .fa-solid fa-store
    .fa-regular fa-heart
    .fa-solid fa-heart
    .fa-solid fa-utensils
    .fa-solid fa-handshake-angle
*/
/*P4 step0 SOMMAIRE */
.presentation-sommaire {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.sommaire-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}

.btn-sommaire {
  display: flex;
  align-items: center;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  gap: 25px;
}
.btn-sommaire:hover {
  width: 220px;
  height: 45px;
}

.step-circl {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  justify-content: center;
  font-size: 11px;
  margin-right: 5px;
  background-color: #9356DC;
  color: white;
}

.construction-steps {
  display: flex;
}

.icon-lang {
  width: 32px;
  height: 32px;
}

/*P4 step1 intro */
.step1_intro {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.project-image-container {
  display: flex;
  justify-content: center;
}

/* P4 STEP2 MISSION */
.step2_mission-objectifs {
  min-width: 90%;
  min-height: 90%;
}

.mission-objectif {
  display: flex;
  flex-direction: column;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ohmyfood-mail-if {
  width: 80%;
  border: black 1px solid;
}

.ohmyfood-mail-header {
  background-color: #b3b3b3;
}

.ohmyfood-mail-main {
  display: flex;
  flex-direction: column;
}

.ohmyfood-mail-footer {
  background-color: #b3b3b3;
}

/* BOTTON */
.ohmyfood-btn-cnd {
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  min-width: 200px;
  min-height: 40px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 8px 16px rgba(24, 23, 23, 0.1);
  border-color: transparent;
  /* FONT */
  color: white;
}
.ohmyfood-btn-cnd:hover {
  background: linear-gradient(201deg, #FF79DA -5.2%, #9356DC 110.74%);
  box-shadow: 0 8px 16px rgba(24, 23, 23, 0.1);
  min-width: 210px;
  min-height: 50px;
}
.ohmyfood-btn-cnd:active {
  background: linear-gradient(201deg, #FF79DA -5.2%, #9356DC 110.74%);
  box-shadow: 0 8px 16px rgba(24, 23, 23, 0.1);
  min-width: 210px;
  min-height: 50px;
}

.F-number {
  display: flex;
  position: relative;
  border-radius: 50%;
  left: 12px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  align-items: center;
  justify-content: center;
}

.btn-class-f {
  /* LAYOUT */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 20px;
  /* FONT */
  background-color: #EAEAEA;
}

.btn-article {
  display: flex;
}
.btn-article:hover {
  background-color: #EAEAEA;
}

.fa-soild {
  color: #7e7e7e;
}

/* CARD Ohmyfood */
.card-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  /* LAYOUT */
  display: flex;
  width: 90%;
  height: 250px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.card a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
}
.card a:hover {
  filter: brightness(1.2);
}

.img-card-container {
  width: 100%;
  height: 65%;
  position: relative;
  display: inline-block;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.btn-new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 13px;
  right: 15px;
}

.info-container {
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-titre h2 {
  font-size: 16px;
}

.info-rows {
  display: flex;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 5px;
}

/* BOX HEART ANIMATION */
.heart-box {
  position: relative;
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  transition: transform(500ms);
}
.heart-box.hover {
  transform: scale(1, 2, 3);
  display: flex;
  font-size: 32px;
  background-color: #9356DC;
  position: absolute;
}

/* span FA REGULAR (FontAwesone ) */
.icon-regular {
  position: absolute;
  font-size: 24px;
}
.icon-regular.hover {
  display: flex;
  font-size: 32px;
  background-color: #9356DC;
  position: absolute;
}

/* span FA SOLID( FontAwesone ) */
.icon-solid {
  position: absolute;
  font-size: 16px;
  color: white;
}
.icon-solid:hover {
  display: flex;
  font-size: 24px;
  transform: scale(1.13);
  color: #9356DC;
}
.icon-solid:visited {
  display: flex;
  font-size: 32px;
  transform: scale(1.13);
  color: #9356DC;
}
.icon-solid:focus {
  color: #9356DC;
}
.icon-solid:active {
  color: #9356DC;
}

/* card menu */
/* CARD */
.card-item {
  width: 90%;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 5px #787878;
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
}
.card-item__name, .card-item__desc {
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: width 0.5s;
}
.card-item__name {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}
.card-item__desc {
  line-height: 2;
  width: 100%;
}
.card-item__value {
  position: absolute;
  right: 6%;
  bottom: 15%;
  font-weight: bold;
  transform: translate(0);
  transition: transform 0.5s;
}
.card-item__select {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  background-color: #99E2D0;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.card-item__select i {
  font-size: 23px;
  color: white;
  transition: transform 0.4s;
}
.card-item:hover {
  cursor: pointer;
}
.card-item:hover > .card-item__name {
  width: 80%;
}
.card-item:hover > .card-item__desc {
  width: 80%;
}
.card-item:hover > .card-item__value {
  transform: translateX(-220%);
}
.card-item:hover > .card-item__select {
  transform: translateX(0);
}
.card-item:hover > .card-item__select i {
  transform: rotate(360deg);
}

/* LOADING OVERLAY */
#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ***********************************  */
/*      .__________________.___.        */
/* +___/  P4 - step-by-step \(/)\_______+*/
.step-by-step {
  display: flex;
  justify-content: center;
  min-width: 97%;
  min-height: 90%;
  padding: 2%;
}

.windows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(255, 255, 255);
  min-width: 95%;
  min-height: 610px;
}

.template-content {
  min-width: 100%;
}

.step-loader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  background-color: var(--sql-color);
}

.btn-step {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.btn-step:hover {
  width: 130%;
  height: 110%;
  background-color: darkorchid;
}

/* STEP4 MOCKUP */
.mockup {
  min-height: 35vh;
  gap: 5px;
}

.mockup-sementique {
  display: flex;
  flex-direction: column;
}

.mockup-img {
  width: 30%;
}

.model-box {
  min-width: 90vh;
  min-height: 65vh;
}

.mockup-cutting {
  display: flex;
  padding: 10px;
  min-width: 100vh;
  min-height: 100vh;
  gap: 8px;
}

.bloc1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20vh;
  min-height: 100vh;
  background-color: var(--html-color);
  border-radius: 8px;
}

.bloc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vh;
  min-height: 100vh;
  background-color: var(--css-color);
  border-radius: 8px;
}

.bloc3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vh;
  min-height: 100vh;
  background-color: var(--js-color);
  border-radius: 8px;
}

.bloc4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vh;
  min-height: 100vh;
  background-color: var(--php-color);
  border-radius: 8px;
}

/* Ohmyfood integration */
.ohmyfood-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.ohmyfood-header {
  display: flex;
  min-height: 18%;
  background-color: rgb(132, 125, 125);
}

.ohmyfood-main {
  display: flex;
  min-height: 50%;
  background-color: rgb(172, 172, 172);
}

.ohmyfood-footer {
  display: flex;
  min-height: 20%;
  background-color: rgb(29, 27, 27);
}

/******************  */
/*      header       */
/* ***************** */
header {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 10vh;
}

/* NavBar */
.navbar {
  display: flex;
  min-width: 100%;
  min-height: 10%;
  align-items: center;
  background-color: var(--header-color);
}

.navbar-icon {
  width: 50px;
  height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropbtn {
  background-color: #6a0a0a;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content, .sub-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px;
  z-index: 1;
}

.sub-dropdown {
  left: 100%;
  top: 0;
}

.dropdown-content a, .sub-dropdown a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover .sub-dropdown {
  display: block;
}

.dropdown-content a:hover, .sub-dropdown a:hover {
  background-color: #f1f1f1;
}

/* Hero-ban */
.hero-ban {
  display: flex;
  min-width: 80vh;
  min-height: 100%;
  background-color: #241f2e;
}

.row-W {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.coln-h {
  width: 10px;
  height: 100%;
}

.coln-H {
  width: 10px;
  height: 100%;
}

.bloc-html {
  display: flex;
  margin: 3px;
  border-radius: 5px;
  width: 20%;
  background-color: var(--html-color);
}

.bloc-css {
  display: flex;
  margin: 3px;
  border-radius: 5px;
  width: 20%;
  background-color: var(--css-color);
}

.bloc-js {
  display: flex;
  margin: 3px;
  border-radius: 5px;
  width: 20%;
  background-color: var(--js-color);
}

.bloc-php {
  display: flex;
  margin: 3px;
  border-radius: 5px;
  width: 20%;
  background-color: var(--php-color);
}

.bloc-sql {
  display: flex;
  margin: 3px;
  border-radius: 5px;
  width: 20%;
  background-color: var(--sql-color);
}

/****************** */
/*      main        */
/* ***************** */
main {
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 70VH;
  background-color: black;
}

.step-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.step {
  border-radius: 10px;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(179, 179, 179);
  min-width: 100%;
  min-height: 100%;
  gap: 20px;
}

.step1_ {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #3c2929;
}
.step1_:hover {
  width: 90%;
  height: 100%;
  background-color: #322222;
}

.step2_dev {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #3a293c;
}
.step2_dev:hover {
  width: 90%;
  height: 100%;
  background-color: #2a1e2b;
}

.step3_inter {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #30293c;
}
.step3_inter:hover {
  width: 90%;
  height: 100%;
  background-color: #241f2e;
}

.step4_auto-ML {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #293c33;
}
.step4_auto-ML:hover {
  width: 90%;
  height: 100%;
  background-color: #16211c;
}

.step5_it-IA {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #3c3b29;
}
.step5_it-IA:hover {
  width: 90%;
  height: 100%;
  background-color: #55543a;
}

.btn-circle {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: black;
  color: rgb(197, 190, 203);
  font-size: smaller;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn-circle:hover {
  width: 64px;
  height: 64px;
  font-size: larger;
}

.init_td {
  background-color: #2a633b;
}

.init_row {
  display: flex;
  flex-direction: row;
  background-color: #2a633b;
}

.init_coln {
  min-width: 10px;
  background-color: #2a4163;
}

td- {
  background-color: #b07118;
}

/* div content */
/******************  */
/*      footer       */
/* ***************** */
footer {
  display: flex;
  min-width: 100%;
  min-height: 10vh;
  background-color: #333;
}

/* ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Break point F device @media screwn } */
  /* *************************** */
  /*      _______________        */
  /* ____/  Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /* IOS android */
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}
/* [📱]-{Desktop}- responsive */
@media (min-width: 1053px) and (max-width: 1440px) {
  /* *************************** */
  /*      _______________        */
  /* ____/ 📱Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}
/* [💻]-{Desktop}- responsive */
@media (min-width: 1053px) and (max-width: 1440px) {
  /* ----------------------------- */
  /*      _________________        */
  /* ____/ 💻 Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}

/*# sourceMappingURL=index.css.map */
