body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    padding: 20px;
    text-align: left;
}

/* MENU DE DEV */
.dev-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
  
    h2 {
      margin: 0;
      font-size: 18px;
    }
  
    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
  
      &:hover {
        color: #007bff;
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      a {
        text-decoration: none;
        color: #333;
        position: relative;
  
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #007bff;
          transition: width 0.3s ease-out, left 0.3s ease-out;
        }
  
        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
main {
    width: 100%;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.dev-menu {
    margin-bottom: 30px;
}
.dev-content {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.dev-sass {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding-left: 30px;
        background-color: white;
        transition: background-color 0.3s ease; /* Ajoutez d'autres transitions au besoin */
            &:hover {
                background-color: #e0e0e0; /* Changez la couleur au survol */
            }
}
.step {
    display: flex;
    text-align: left;
}

code {
    // ... Autres styles ...

    // Utilisation de la couleur tertiaire pour le fond de code
    background-color: #1e201f;
    // Déclaration des variables pour les paramètres de style
    $padding-code: 5px;
    $border-radius-code: 5px;

    padding: $padding-code;
    border-radius: $border-radius-code;
}
/*
section {
    /* layout *
    display : ;
    width: ;
    height: ;
    margin: ;
    padding: ;
    /* font 
    background-color: 
    font-size: ;
    /* annimation pseudo-class 
    :hover :focus :visited {
        ..
    }
    /* @keyfram 
    trasnsition
}
*/

/* ==========================================================================
******* <    article id="step0" class="introduction"    > ******
========================================================================== */

/* Ajoutez ces styles à la section step10 dans votre fichier sass.css */

#step0.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-left: 30px;
    transition: background-color 0.3s ease; /* Ajoutez d'autres transitions au besoin */
    font-size: 18px;
    background-color: #f9f9f9;
    margin-bottom: 20px; /* Ajoutez un espace en bas de la section */
}

#step0.introduction:hover {
    background-color: #e0e0e0; /* Changez la couleur au survol */
}

.project-image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajoutez un espace au-dessus de l'image */
}

.project-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Assurez-vous que l'image est également bordée */
}

.important-text {
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease; // Ajout de la transition pour tous les changements

    &:hover {
        font-weight: bold;
        text-decoration: underline;
        background-color: #f7f7f7; // Ajout d'une couleur de fond au survol
        color: #333; // Modification de la couleur du texte au survol
    }

    i {
        margin-left: 5px; // Ajout d'une marge à gauche pour l'icône
        transition: transform 0.3s ease; // Ajout de la transition pour l'icône

        &:hover {
            transform: translateX(5px); // Déplacement de l'icône vers la droite au survol
        }
    }
}

#animation-example {
    // Ajout d'une animation spécifique pour cet élément
    animation: example-animation 0.5s ease;
}

@keyframes example-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/* ==========================================================================
******* <    article id="step0" class="introduction"    > ******
========================================================================== */
#step1.configuration-environment {
    article {
      // ... (autres styles)
  
      img {
        position: relative;
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
        }
  
        + pre {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: #e23a3a;
          padding: 10px;
          border-radius: 5px;
          margin: 10px 0;
          display: none;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s ease; // Ajout d'une transition pour le changement de couleur
  
          &:hover {
            background-color: #008766;
          }
        }
      }
    }
  }
  
/* ==========================================================================
******* <    article id="step0" class="objective"    > ******
========================================================================== */
.mission-objective {
    flex: 1;
    margin-right: 20px;
}

.mission-objective ul {
    list-style-type: disc;
    padding-left: 20px;
}

// ... Autres styles ...

// Section pour les effets graphiques et animations
.graphic-effects {
    h3 {
      margin-top: 20px; // Espace entre le titre et la liste
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px; // Espacement entre chaque élément de la liste
      }
    }
  
    // Exemple d'effet sur le survol des boutons principaux
    button {
      background-color: #3498db; // Couleur de fond initiale
      transition: background-color 0.3s ease; // Transition en douceur
      &:hover {
        background-color: lighten(#3498db, 10%); // Éclaircir légèrement au survol
      }
    }
  
    // Exemple d'effet sur le bouton "J’aime" en forme de cœur
    .like-button {
      &::before {
        content: "\2764"; // Code Unicode pour un cœur
        color: transparent; // Couleur transparente initiale
        transition: color 0.5s ease; // Transition en douceur
      }
  
      &:hover {
        &::before {
          color: #ff0000; // Couleur rouge au survol
        }
      }
    }
  
    // Exemple d'effet de loader
    .loader {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1s linear infinite; // Animation de rotation
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  
    // Exemple d'effet d'apparition des plats avec décalage
    .menu-item {
      opacity: 0; // Rendre les plats initialement invisibles
      transition: opacity 0.5s ease; // Transition en douceur
      &.appear {
        opacity: 1; // Rendre les plats visibles avec un décalage
        &:nth-child(1) { transition-delay: 0.2s; }
        &:nth-child(2) { transition-delay: 0.4s; }
        &:nth-child(3) { transition-delay: 0.6s; }
        // Ajouter davantage de décalages si nécessaire
      }
    }
  }
  


/* ==========================================================================
******* <    article id="step0" class="introduction"    > ******
========================================================================== */

#step3.development-section {
    article {
      margin-top: 20px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
  
      ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
  
        li {
          margin-bottom: 20px;
  
          strong {
            font-weight: bold;
          }
  
          img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 10px;
            transition: transform 0.3s ease;
  
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
  
      h2:last-child {
        margin-top: 40px; /* Ajoutez un espace avant la présentation des composants */
      }
  
      ul:last-child {
        margin-top: 15px; /* Ajoutez un espace avant la présentation des composants */
      }
    }
  }
.row {
    display: flex;
    flex-direction: row;
  }
.row.mobile img {
    padding: 51px 30px;
}
.html-css {
  display: flex;
  flex-direction: column;
}
.long-bar {
  background-color: #1e201f;
  width: 3px;

}
/* ==========================================================================
******* <    article id="step0" class="css-attribution"    > ******
========================================================================== */

.css-attribution {
    flex: 1;
    margin-right: 20px;
}

.css-attribution pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

/* ==========================================================================
******* <    article id="step6" class="responsive"    > ******
========================================================================== */
.responsive-design {
    flex: 1;
    margin-right: 20px;
}

.responsive-design pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}




/* ==========================================================================
******* <    article id="step7" class="css-annimation"    > ******
========================================================================== */

.css-animations {
    flex: 1;
    margin-right: 20px;
}

.css-animations ul {
    list-style-type: none;
    padding: 0;
}

.css-animations li {
    margin-bottom: 10px;
}

// composant loader - overloay
$overlay-animation-duration: 3s;

@mixin hide-overlay {
  animation: hideOverlay #{$overlay-animation-duration} linear forwards;
}

@keyframes hideOverlay {
  0% {
    z-index: 2; // État initial, overlay visible
  }
  100% {
    z-index: -1; // Après 3 secondes, overlay invisible
  }
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding:40px;
  margin:20px;
  border-radius: 30px;;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; // État initial, overlay visible
  cursor: pointer;

  &.hidden {
    @include hide-overlay;
  }
}

#loader {

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-overlay-code {
    &:hover {
      #overlay {
        z-index: 2; // Rétablit la visibilité de l'overlay au survol
      }
    }
  }

/* composant card */
 /* card */
.code-card {
    
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.card-hover-code {
    margin-left:1px;
}
.code-src {
    margin:50px;
    border-radius: 20px;
}
.card {

    /* LAYOUT */
    display: flex;
    flex-direction: column;
    margin:50px;
    width: 340px;
    justify-content: space-between;
    align-items: center;
    border: 1px;
    /* Animation au survol */
    &:hover {
    filter: brightness(1.9); /* Éclaircit la carte au survol */
    }
    }
.img-card-container {
    position: relative;
    display: inline-block;
}
 
.card img {
    object-fit: cover;
    width: 340px;
    height: 251px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
 
}
 
.btn-new {
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    top: 13px;
    right: 15px;
}
.info-container {
    display:flex;
    width: 100%;
    border:1px;
    justify-content: space-between;
    background-color: grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.info-rows {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 15px;
}
/* BOX HEART ANIMATION */
$heart-color-start: white;
$heart-color-end: #9356DC;

.heart-box {
    position: relative;
    display:flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    transition: transform(500ms);
    &.hover {
        transform: scale(1,2,3);
        display: flex;
        font-size: 32px;
        background-color: #9356DC;
        position: absolute;
    }
}
/* span FA REGULAR (FontAwesone ) */
.icon-regular {
    position: absolute;
    font-size: 24px;
    &.hover {
        display: flex;
        font-size: 32px;
        background-color: #9356DC;
        position: absolute;
    }
}
/* span FA SOLID( FontAwesone ) */
.icon-solid {
    position: absolute;
    font-size: 16px;
    color: $heart-color-start;
        &:hover {
        display: flex;
        font-size: 24px;
        transform: scale(1.13);
        color: $heart-color-end;
        }
        &:visited {
    display: flex;
    font-size: 32px;
    transform: scale(1.13);
    color: $heart-color-end;
        }
        &:focus {
    color: $heart-color-end;
        }
        &:active {
            color: $heart-color-end;
        }
}



/* ==========================================================================
******* <    article id="step0" class="soft-skill"    > ******
========================================================================== */

.skill-soft {
    background-color: #a4d9aa;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    flex: 1;

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 20px;
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;

        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#step8.skill-soft .form-setup {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $border-width: 1px;
    $border-color: #ccc;
    $border-radius: 20px;
    $padding: 20px;

    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $padding;
}

#step8.skill-soft .form-setup h3 {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $font-size: 24px;
    $margin-bottom: 10px;

    font-size: $font-size;
    margin-bottom: $margin-bottom;
}

#step8.skill-soft .form-setup form {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $form-width: 100%;

    width: $form-width;
}

#step8.skill-soft .form-setup label {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $margin-top: 10px;

    display: block;
    margin-top: $margin-top;
}

#step8.skill-soft .form-setup textarea {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $textarea-width: 100%;
    $margin-bottom-textarea: 15px;

    width: $textarea-width;
    margin-bottom: $margin-bottom-textarea;
}

#step8.skill-soft .form-setup button {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $button-bg-color: #3498db;
    $button-text-color: #fff;
    $button-padding: 10px 20px;
    $button-border: none;
    $button-border-radius: 5px;
    $button-cursor: pointer;
    $button-font-size: 16px;

    background-color: $button-bg-color;
    color: $button-text-color;
    padding: $button-padding;
    border: $button-border;
    border-radius: $button-border-radius;
    cursor: $button-cursor;
    font-size: $button-font-size;
}

#step8.skill-soft .form-setup button:hover {
    // ... Autres styles ...

    // Déclaration des variables pour les paramètres de style
    $button-hover-bg-color: #2980b9;

    background-color: $button-hover-bg-color;
}
/* Styles spécifiques pour la section Soft Skill */

.kernel {
    display: flex;
    flex-direction: column;
    
    /* Styles pour le kernel du développement des éléments sommaire */
}
.row1 {
    display: flex;
    flex-direction: row;

}
.input-block {
    width: 20%;
    background-color: #e0e0e0;
}
.output-block {
    width: 80%;
    background-color: #7c7676;
}
.algo-block {
    width: 100%;
    background-color: #767c7a;

}
/* Ajoutez d'autres styles au besoin */